:root {
  --black-primary: #20232a;
  --black-secondary: #282c34;
  --white-primary: #fff;
  --blue-primary: #61dafb;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: var(--black-secondary);
  color: var(--white-primary);
}

#root {
  display: flex;
  flex-direction: column;
}

header, footer {
  background-color: var(--black-primary);
}

main {
  flex: 1;
}

footer {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

header a, main, footer {
  padding: 16px;
}

code {
  font-family: monospace;
}

fieldset {
  margin-bottom: 10px;
}

a, a {
  display: inline-block;
  color: var(--white-primary);
  text-decoration: none;

  &.active {
    color: var(--blue-primary);
  }

  &:hover {
    background-color: var(--blue-primary);
    color: var(--black-primary);
  }
}

// Helpers
.display-flex {
  display: flex;
}

.mb-2 {
  margin-bottom: 8px;
}

.mr-2 {
  margin-right: 8px;
}