html, body, #root, #app {
  height: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #282c34;
  color: white;
}

#app {
  display: flex;
  flex-direction: column;
}

header, footer {
  background-color: #20232a;
}

main {
  flex: 1;
}

header, main, footer {
  padding: 16px;
}

code {
  font-family: monospace;
}
